body {
    font-family: "Fira Sans", "Roboto", sans-serif;
    margin: 40px auto;
    padding: 10px;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    background-color: #fff;
    color: #444;
    padding: 0
}

@media (prefers-color-scheme: dark) {
    body {
        color: #dcddde;
        background-color: #36393f;
    }
}

.content {
    margin: 10px;
}

.avatar {
    text-align: center;
    max-width: 600px;
}

.created {
    font-size: 75%;
}