<div class="fronter">
    {{if .Fronter}}
    <img src="{{.Fronter.AvatarURL}}" alt="{{.Fronter.Name}}'s avatar">
    <p class="name">Name: {{.Fronter.Name}}</p>
    <p class="pronouns">Pronouns: {{if .Fronter.Pronouns}}{{.Fronter.Pronouns}}{{else}}(not specified){{end}}</p>
    <p class="birthday">Birthday: {{if .Fronter.Birthday}}
    {{.Fronter.TimeBirthday.Format "Jan 2"}}
    {{else}}
    (not specified)
    {{end}}</p>
    <p class="created">(PK profile created: {{.Fronter.Created.Format "Mon Jan 2 15:04:05 MST 2006"}})</p>
    {{else}}
    <p class="name">No fronter.</p>
    {{end}}
    {{if .OtherFronters}}
    <p class="other">Other fronters: <ul>{{range .OtherFronters}}
        <li>{{.}}</li>
    {{end}}</ul></p>
    {{else}}
    <p class="other">No other fronters.</p>
    {{end}}
</div>