<div class="fronter">
    {{range .Fronters}}
    <h3>{{.Name}} <small>(ID: <code>{{.ID}}</code>)</small></h3>
    <center>
        <img src="{{.AvatarURL}}" alt="{{.Name}}'s avatar" class="avatar">
    </center>
    <p class="pronouns"><b>Pronouns</b>: {{if .Pronouns}}{{.Pronouns}}{{else}}(not specified){{end}}</p>
    <p class="birthday"><b>Birthday:</b> {{if .Birthday}}
        {{if and (not (eq .TimeBirthday.Year 0004)) (not (eq .TimeBirthday.Year 0001))}}
        {{.TimeBirthday.Format "Jan 2 2006"}}
        {{else}}
        {{.TimeBirthday.Format "Jan 2"}}
        {{end}}
        {{else}}
        (not specified)
        {{end}}</p>
    {{if .HTMLDesc}}
    <p class="description">
        <strong>Description</strong>
    <blockquote>
        {{.HTMLDesc}}
    </blockquote>
    </p>
    {{end}}
    <p class="created">(<b>PK profile created:</b> {{.Created.Format "Mon Jan 2 15:04:05 MST 2006"}})</p>
    <hr>
    {{else}}
    <p class="name">No fronter.</p>
    <hr>
    {{end}}
    <p class="system_id"><b>System ID:</b> <code>{{.SysID}}</code></p>
</div>