<!DOCTYPE html>
<html>

<head>
    <title>{{.SysName}} &middot; {{.Page.PageTitle}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 40px auto;
            padding: 10px;
            max-width: 650px;
            line-height: 1.6;
            font-size: 18px;
            color: #444;
            padding: 0
        }

        .content {
            margin: 10px;
        }

        .avatar {
            text-align: center;
        }
    </style>
</head>

<body>
    <nav>
        <h1>{{.SysName}} &middot; <span style="font-size: 90%">{{.Page.PageTitle}}</span></h1>
    </nav>
    <div class="content">